@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lexend+Peta:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(165, 255, 198, 0) 0%, #0b581d 100%);
  /* #214d76 */
  filter: blur(250px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  filter: blur(350px);
}
/* .white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(250px);
} */
